/*
.coluna1_5 {
	width: 96px;
	height: 96px;
	float: left;
	margin: 4px;
}

#my-div:hover {
	-moz-box-shadow: 0 17px 50px 0 rgba(0,0,0,.19);
	-webkit-box-shadow: 0 17px 50px 0 rgba(0,0,0,.19);
	box-shadow: 0 17px 50px 0 rgba(0,0,0,.19);
	position: relative;
	z-index: 100;
}

.titulo1_5 {
	font-family: ClarendonLTStdBold;
	font-size: 150%;
	text-transform: uppercase;
	text-align: center;
}

.aui [class^="icon-"]:before, .aui [class*=" icon-"]:before {
    text-decoration: inherit;
    display: block;
}

*/
.salada-portlet .thumbnail:hover {
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.19); }

.salada-portlet #sorteios .bg {
  display: block;
  background: url(../images/random-8x.png) no-repeat 50% 50%;
  height: 64px; }

.salada-portlet .sorteios-icon {
  background-img: url(../images/random-8x.png); }

.salada-portlet #inscricoes .bg {
  display: block;
  background: url(../images/book-8x.png) no-repeat 50% 50%;
  height: 64px; }

.salada-portlet #pagamentos .bg {
  display: block;
  background: url(../images/dollar-8x.png) no-repeat 50% 50%;
  height: 64px; }

.salada-portlet #armarios .bg {
  display: block;
  background: url(../images/grid-four-up-8x.png) no-repeat 50% 50%;
  height: 64px; }

.salada-portlet #mensagens .bg {
  display: block;
  background: url(../images/envelope-closed-8x.png) no-repeat 50% 50%;
  height: 64px; }

.salada-portlet .thumbnail a {
  display: block; }

.salada-portlet .thumbnail h3 {
  text-align: center; }

.salada-portlet .thumbnail a:hover {
  color: inherit;
  text-decoration: inherit; }

.salada-portlet .data-hora div {
  display: inline-block; }

.salada-portlet .btn-primary {
  background-color: #f36c60; }

.salada-portlet .btn-primary:hover, .salada-portlet .btn-primary:active {
  background-color: #e84e40; }

